<h1>Nos encuentras aquí</h1>

<div class="box">

    <h3>Sede Valparaíso</h3> <br>

    <div id='sede_container'>
        <img src='./assets/sede central.jpg' alt='SedeCentral' class="sedeCentral">
    </div>
    <p> Av. Argentina 540, piso 3, Valparaíso <br>
        Telefono Sede: (2) 2577 3700 <br>
        Correo: services.jekmy@gmail.com</p>
    

    <h3>Nuestra recepción y puesto de trabajo</h3> <br>
    <div id='sede_dentro_recepcion'>
        <img src='./assets/recepcion.JPG' alt='Recepcion' class="fotoRecepcion">
        <img src='./assets/sededentro.jpg' alt='Puesto' class="fotoPuesto">
    </div>
    <br>
    <h3>
        Nuevas sucursales cerca de ti, proximamente!
    </h3> <br>
    <div id='logo_jekmy'>
        <img src='./assets/jekmy.png' alt='LogoJekmy' class="logoJekmy">
    </div>

